*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(117,86,204,1) 0%, rgba(213,105,167,1) 90% );
   
}
body{
     display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 25%;
    height: 70%;
    background-color: azure;
}